In [60]:
#import ../survwrap as tosa
import pandas as pd 
from sksurv.datasets import get_x_y
import os
from dataclasses import dataclass, field

In [61]:
dataset_path="../Datasets/"

In [62]:
@dataclass
class dataset:
    "a dataset container"
    name: str
    path: str
    dataframe: field(default_factory=pd.DataFrame)

create a dictionary of dataset objects from the list of CSVs in dataset_path

In [63]:
datasets ={}
for _ in os.listdir(path=dataset_path):
    _name=_.split('.')[0]
    _path=dataset_path+_
    datasets[_name]= dataset(name=_name,
                             path=_path,
                             dataframe = pd.read_csv(_path, index_col=0))

In [64]:
for _ in datasets.keys():
    print(_, "size:", len(datasets[_].dataframe))

gbsg+rotterdam size: 3668
metabric size: 1903
flchain size: 6524
support size: 9105

test for nans

In [65]:
for _ in datasets.keys():
    print(_ , ":", datasets[_].dataframe.to_numpy().shape)
    print(datasets[_].dataframe.isna().sum())

gbsg+rotterdam : (3668, 10)
age       0
meno      0
size      0
grade     0
nodes     0
pgr       0
er        0
hormon    0
time      0
event     0
dtype: int64
metabric : (1903, 11)
hormone_treatment    0
radiotherapy         0
chemoterapy          0
ER-positive          0
MKI67                0
EGFR                 0
PGR                  0
ERBB2                0
AOD                  0
time                 0
event                0
dtype: int64
flchain : (6524, 10)
age           0
sex           0
sample.yr     0
kappa         0
lambda        0
flc.grp       0
creatinine    0
mgus          0
time          0
event         0
dtype: int64
support : (9105, 57)
age                           0
sex                           0
slos                          0
num.co                        0
edu                           0
income                        0
scoma                         0
charges                       0
totcst                        0
avtisst                       0
hday                          0
diabetes                      0
dementia                      0
meanbp                        0
wblc                          0
hrt                           0
resp                          0
temp                          0
pafi                          0
alb                           0
bili                          0
crea                          0
sod                           0
ph                            0
glucose                       0
bun                           0
urine                         0
adlp                          0
adls                          0
adlsc                         0
dzgroup_ARF/MOSF w/Sepsis     0
dzgroup_CHF                   0
dzgroup_COPD                  0
dzgroup_Cirrhosis             0
dzgroup_Colon Cancer          0
dzgroup_Coma                  0
dzgroup_Lung Cancer           0
dzgroup_MOSF w/Malig          0
dzclass_ARF/MOSF              0
dzclass_COPD/CHF/Cirrhosis    0
dzclass_Cancer                0
dzclass_Coma                  0
race_asian                    0
race_black                    0
race_hispanic                 0
race_other                    0
race_white                    0
ca_metastatic                 0
ca_no                         0
ca_yes                        0
sfdm2_2 mo. follow-up         0
sfdm2_Coma or Intub           0
sfdm2_SIP30                   0
sfdm2_adl4 (5 if sur)         0
sfdm2_no(M2 and SIP pres)     0
event                         0
time                          0
dtype: int64

In [66]:
# flchain

In [67]:
datasets['flchain'].dataframe.describe()

,age,sex,sample.yr,kappa,lambda,flc.grp,creatinine,mgus,time,event
count,6524.000000,6524.000000,6524.000000,6524.000000,6524.000000,6524.000000,6524.000000,6524.000000,6524.000000,6524.000000
mean,65.057787,0.449418,1996.623237,1.451986,1.728203,5.537860,1.093516,0.014715,3647.502146,0.300736
std,10.682585,0.497473,1.416592,0.936699,1.074378,2.884023,0.416507,0.120418,1458.287949,0.458613
min,50.000000,0.000000,1995.000000,0.010000,0.043300,1.000000,0.400000,0.000000,0.000000,0.000000
25%,56.000000,0.000000,1996.000000,0.960000,1.210000,3.000000,0.900000,0.000000,2907.500000,0.000000
50%,63.500000,0.000000,1996.000000,1.280000,1.520000,6.000000,1.000000,0.000000,4303.000000,0.000000
75%,73.000000,1.000000,1997.000000,1.700000,1.950000,8.000000,1.200000,0.000000,4771.000000,1.000000
max,101.000000,1.000000,2003.000000,20.500000,26.600000,10.000000,10.800000,1.000000,5166.000000,1.000000

In [68]:
X,y = get_x_y(datasets['flchain'].dataframe, attr_labels=['event', 'time'],pos_label=1)

In [69]:
X.shape, y.shape

((6524, 8), (6524,))

In [70]:
datasets['flchain'].dataframe[:30]

,age,sex,sample.yr,kappa,lambda,flc.grp,creatinine,mgus,time,event
0,97.0,0.0,1997,5.700,4.860,10,1.7,0.0,85.0,1.0
1,92.0,0.0,2000,0.870,0.683,1,0.9,0.0,1281.0,1.0
2,94.0,0.0,1997,4.360,3.850,10,1.4,0.0,69.0,1.0
3,92.0,0.0,1996,2.420,2.220,9,1.0,0.0,115.0,1.0
4,93.0,0.0,1996,1.320,1.690,6,1.1,0.0,1039.0,1.0
5,90.0,0.0,1997,2.010,1.860,9,1.0,0.0,1355.0,1.0
6,90.0,0.0,1996,0.430,0.880,1,0.8,0.0,2851.0,1.0
7,90.0,0.0,1999,2.470,2.700,10,1.2,0.0,372.0,1.0
8,93.0,0.0,1996,1.910,2.180,9,1.2,0.0,3309.0,1.0
9,91.0,0.0,1996,0.791,2.220,6,0.8,0.0,1326.0,1.0
10,96.0,0.0,1996,2.380,2.170,9,1.3,0.0,2776.0,1.0
11,90.0,0.0,1996,3.960,3.950,10,1.1,0.0,1046.0,1.0
12,90.0,0.0,1996,0.830,1.400,3,0.9,0.0,667.0,1.0
13,97.0,0.0,1996,4.530,4.080,10,2.0,0.0,51.0,1.0
14,90.0,0.0,1996,2.710,1.810,9,1.1,0.0,1286.0,1.0
15,93.0,0.0,1997,1.600,1.750,7,0.9,0.0,1914.0,1.0
16,95.0,0.0,1997,1.880,2.430,9,1.9,0.0,874.0,1.0
17,94.0,0.0,1996,2.600,6.700,10,1.8,0.0,91.0,1.0
18,94.0,0.0,1996,1.800,2.290,9,1.0,0.0,1903.0,1.0
19,92.0,0.0,1996,0.601,1.440,2,1.0,0.0,2000.0,1.0
20,94.0,0.0,1997,2.310,2.080,9,0.9,0.0,71.0,1.0
21,90.0,0.0,1996,2.190,2.450,9,1.1,0.0,2845.0,0.0
22,90.0,0.0,1997,0.802,1.050,2,1.2,0.0,2586.0,1.0
23,94.0,0.0,1996,1.310,1.850,7,1.0,0.0,24.0,1.0
24,101.0,0.0,1996,1.540,1.730,7,1.0,0.0,4.0,1.0
25,90.0,0.0,1996,1.480,1.530,6,1.2,0.0,2718.0,1.0
26,91.0,0.0,1996,1.130,1.320,4,1.5,0.0,85.0,1.0
27,93.0,0.0,1996,1.570,2.250,8,0.8,0.0,2498.0,0.0
28,95.0,0.0,1996,2.920,2.910,10,2.0,0.0,0.0,1.0
29,91.0,0.0,1996,0.430,0.940,1,0.9,0.0,2905.0,0.0

In [71]:
y[:30]

array([( True,   85.), ( True, 1281.), ( True,   69.), ( True,  115.),
       ( True, 1039.), ( True, 1355.), ( True, 2851.), ( True,  372.),
       ( True, 3309.), ( True, 1326.), ( True, 2776.), ( True, 1046.),
       ( True,  667.), ( True,   51.), ( True, 1286.), ( True, 1914.),
       ( True,  874.), ( True,   91.), ( True, 1903.), ( True, 2000.),
       ( True,   71.), (False, 2845.), ( True, 2586.), ( True,   24.),
       ( True,    4.), ( True, 2718.), ( True,   85.), (False, 2498.),
       ( True,    0.), (False, 2905.)],
      dtype=[('event', '?'), ('time', '<f8')])

In [77]:
processed = {}
for _ in datasets.keys():
    print(_ , datasets[_].dataframe.columns[-2:])
    processed[_] = (get_x_y(datasets[_].dataframe, attr_labels=['event', 'time'],pos_label=1))

gbsg+rotterdam Index(['time', 'event'], dtype='object')
metabric Index(['time', 'event'], dtype='object')
flchain Index(['time', 'event'], dtype='object')
support Index(['event', 'time'], dtype='object')

In [78]:
processed['metabric']

(      hormone_treatment  radiotherapy  chemoterapy  ER-positive  MKI67  EGFR  \
 0              5.603834      7.811392    10.797988     5.967607    1.0   1.0
 1              5.284882      9.581043    10.204620     5.664970    1.0   0.0
 2              5.920251      6.776564    12.431715     5.873857    0.0   1.0
 3              6.654017      5.341846     8.646379     5.655888    0.0   0.0
 4              5.456747      5.339741    10.555724     6.008429    1.0   0.0
 ...                 ...           ...          ...          ...    ...   ...
 1898           5.946987      5.370492    12.345780     5.741395    1.0   1.0
 1899           5.339228      5.408853    12.176101     5.693043    1.0   1.0
 1900           5.901610      5.272237    14.200950     6.139390    0.0   0.0
 1901           6.818109      5.372744    11.652624     6.077852    1.0   0.0
 1902           5.725708      5.449718     9.680736     6.595955    1.0   1.0

       PGR  ERBB2        AOD
 0     0.0    1.0  56.840000
 1     0.0    1.0  85.940002
 2     0.0    1.0  48.439999
 3     0.0    0.0  66.910004
 4     0.0    1.0  67.849998
 ...   ...    ...        ...
 1898  0.0    1.0  76.839996
 1899  0.0    1.0  63.090000
 1900  0.0    1.0  57.770000
 1901  0.0    1.0  58.889999
 1902  0.0    0.0  60.630001

 [1903 rows x 9 columns],
 array([(False,  99.33333588), ( True,  95.73332977),
        (False, 140.2333374 ), ..., ( True,  37.86666489),
        (False, 198.43333435), (False, 140.7666626 )],
       dtype=[('event', '?'), ('time', '<f8')]))

In [79]:
processed['support']

(           age  sex  slos  num.co   edu  income  scoma    charges     totcst  \
 0     29.08400  1.0   4.0     1.0   9.0     1.0  100.0   9.513330   9.023838
 1     68.48199  0.0   7.0     6.0  10.0     1.0    0.0   9.309733   9.074819
 2     64.47095  1.0  27.0     2.0  14.0     2.0   61.0  12.384380  11.940332
 3     60.52298  0.0  11.0     1.0   6.0     2.0   55.0  10.164890   9.920441
 4     55.76498  1.0  14.0     1.0  20.0     3.0    0.0  11.347367  10.492136
 ...        ...  ...   ...     ...   ...     ...    ...        ...        ...
 9100  81.07599  0.0  27.0     1.0   7.0     1.0    9.0  10.600595  10.233503
 9101  64.12000  1.0  14.0     1.0   9.0     1.0    0.0  10.586281  10.056457
 9102  34.47198  0.0   4.0     0.0  12.0     2.0   26.0   9.896362   9.030845
 9103  76.56696  0.0  29.0     3.0  12.0     2.0   26.0  12.639331   9.588517
 9104  37.34198  0.0   9.0     4.0  10.0     1.0   44.0  10.442113   9.881123

         avtisst  ...  race_other  race_white  ca_metastatic  ca_no  ca_yes  \
 0     48.000000  ...         0.0         0.0            0.0    1.0     0.0
 1     31.000000  ...         0.0         1.0            0.0    0.0     1.0
 2     46.250000  ...         0.0         1.0            0.0    1.0     0.0
 3     37.500000  ...         0.0         1.0            0.0    1.0     0.0
 4     21.333328  ...         0.0         1.0            0.0    0.0     1.0
 ...         ...  ...         ...         ...            ...    ...     ...
 9100  14.500000  ...         0.0         1.0            0.0    1.0     0.0
 9101  23.333328  ...         0.0         0.0            0.0    1.0     0.0
 9102  24.000000  ...         0.0         1.0            0.0    1.0     0.0
 9103  40.250000  ...         0.0         1.0            0.0    0.0     1.0
 9104  41.500000  ...         0.0         0.0            0.0    1.0     0.0

       sfdm2_2 mo. follow-up  sfdm2_Coma or Intub  sfdm2_SIP30  \
 0                       1.0                  0.0          0.0
 1                       0.0                  0.0          0.0
 2                       1.0                  0.0          0.0
 3                       1.0                  0.0          0.0
 4                       0.0                  0.0          0.0
 ...                     ...                  ...          ...
 9100                    1.0                  0.0          0.0
 9101                    0.0                  0.0          1.0
 9102                    0.0                  0.0          0.0
 9103                    1.0                  0.0          0.0
 9104                    1.0                  0.0          0.0

       sfdm2_adl4 (5 if sur)  sfdm2_no(M2 and SIP pres)
 0                       0.0                        0.0
 1                       0.0                        1.0
 2                       0.0                        0.0
 3                       0.0                        0.0
 4                       0.0                        0.0
 ...                     ...                        ...
 9100                    0.0                        0.0
 9101                    0.0                        0.0
 9102                    0.0                        0.0
 9103                    0.0                        0.0
 9104                    0.0                        0.0

 [9105 rows x 55 columns],
 array([( True,   4.), ( True, 910.), ( True,  27.), ..., (False, 790.),
        ( True,  29.), ( True,   9.)],
       dtype=[('event', '?'), ('time', '<f8')]))

In [80]:
processed['flchain']

(       age  sex  sample.yr  kappa  lambda  flc.grp  creatinine  mgus
 0     97.0  0.0       1997  5.700   4.860       10         1.7   0.0
 1     92.0  0.0       2000  0.870   0.683        1         0.9   0.0
 2     94.0  0.0       1997  4.360   3.850       10         1.4   0.0
 3     92.0  0.0       1996  2.420   2.220        9         1.0   0.0
 4     93.0  0.0       1996  1.320   1.690        6         1.1   0.0
 ...    ...  ...        ...    ...     ...      ...         ...   ...
 6519  53.0  0.0       1997  0.705   1.250        2         0.8   0.0
 6520  52.0  0.0       1996  0.786   1.030        2         0.7   0.0
 6521  52.0  0.0       1995  1.210   1.610        6         1.0   0.0
 6522  52.0  0.0       1999  0.858   0.581        1         0.8   0.0
 6523  50.0  0.0       1998  1.190   1.250        4         0.7   0.0

 [6524 rows x 8 columns],
 array([( True,   85.), ( True, 1281.), ( True,   69.), ...,
        (False, 4997.), (False, 3652.), (False, 3995.)],
       dtype=[('event', '?'), ('time', '<f8')]))

In [81]:
processed['gbsg+rotterdam']

(     age  meno  size  grade  nodes   pgr    er  hormon
 0     74     1     1      3      0    35   291       0
 1     79     1     2      3      0    36   611       0
 2     44     0     1      2      0   138     0       0
 3     70     1     2      3      0     0    12       0
 4     75     1     1      3      0   260   409       0
 ..   ...   ...   ...    ...    ...   ...   ...     ...
 681   51     0     2      3      2  1152    38       1
 682   64     1     2      2      2  1356  1144       1
 683   57     1     2      3      1  1490   209       1
 684   44     0     2      2      3  1600    70       0
 685   80     1     1      2      7  2380   972       1

 [3668 rows x 8 columns],
 array([(False, 1798.99994755), (False, 2828.00002146),
        (False, 6011.99980354), ..., (False, 1342.        ),
        (False,  629.        ), (False,  758.        )],
       dtype=[('event', '?'), ('time', '<f8')]))